.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-right: 290px;
}

.text{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    margin-left: 290px;
    font-size: 12px;
    text-align: left;
}

.radioContainer{
    display: flex;
    flex-direction: row;
}