.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0px;

}

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin-right: 270px;
}


.text{
    width: 40%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin-left: 260px;
    font-size: 12px;
    text-align: left;
}

.radioContainer{
    display: flex;
    flex-direction: row;
}