.button{
    color: #460c0c;
    opacity: 1;
    width: 10em;
    margin: 2.5em 2.5em 0em 2.5em;
    font-size: 1em;
    text-align: center;
    border-radius: 4px;
    background: lightgray;
    padding: 0.5em 1em 0.5em 1em;
    box-shadow: 0px 1px 6px #00000029;
    border: 2px solid grey;
}

.button:hover {
    background-color: #c66565; /* Green */
    color: white;
  }
  